<div (click)="showProfile()" class="px-2 cursor-pointer overflow-hidden flex h-14 w-full bg-white items-center hover:bg-gray-200 duration-200 truncate">
  <img class="h-10 w-10 rounded-full border-2 p-1" src="{{ user.pfp }}" [ngClass]="{ 'border-green-400': user._id == currentUser._id || (isFriend && user.isOnline), 'border-gray-400': (isFriend && user._id != currentUser._id && !user.isOnline) || (!isFriend && user._id != currentUser._id) }">
  <div class="px-2 truncate">
    {{ user.username }}
  </div>
</div>
