<!-- <a routerLink="/register" routerLinkActive="active">register</a> -->
<div class="bg-amber-600 bg-opacity-80 min-h-screen p-1">
  <div class="bg-white px-8 py-12 mt-24 w-fit mx-auto flex flex-col rounded-lg shadow-2xl">
    <div>There's supposed to be a logo here but...</div> 
    <form class="flex flex-col w-80 mb-24 mt-12">
      <label>Username</label>
      <input type="text">
      <label>Password</label>
      <input type="text">
      <div>Credential error goes here, idk...</div>
      <div>Want to recover your password? Click here. Will implement in the future</div>
      <button type="submit">Here goes lebutton</button>
    </form>
    <div>Login with blah blah, idk i can't implement that, for now...</div>
  </div>
</div>