<div class="flex">
  <div class="flex min-h-screen w-[7%] bg-white">
    <div class="w-1 bg-orange-500 h-16 relative duration-200"
      [ngClass]="{'top-0': currentTab == 0, 'top-16': currentTab == 1, 'top-32': currentTab == 2, 'top-48': currentTab == 3}">
    </div>
    <div class="flex flex-col h-full w-full">
      <div class="h-16 cursor-pointer select-none duration-300 hover:bg-orange-200 flex justify-center items-center"
        (click)="switchTab(0)" [ngClass]="{'bg-orange-100': currentTab == 0}">
        <fa-icon [icon]="navProfileIcon"></fa-icon>
      </div>
      <div class="h-16 cursor-pointer select-none duration-300 hover:bg-orange-200 flex justify-center items-center"
        (click)="switchTab(1)" [ngClass]="{'bg-orange-100': currentTab == 1}">
        <fa-icon [icon]="navFriends"></fa-icon>
      </div>
      <div class="h-16 cursor-pointer select-none duration-300 hover:bg-orange-200 flex justify-center items-center"
        (click)="switchTab(2)" [ngClass]="{'bg-orange-100': currentTab == 2}">
        <fa-icon [icon]="navConversation"></fa-icon>
      </div>
      <div class="h-16 cursor-pointer select-none duration-300 hover:bg-orange-200 flex justify-center items-center"
        (click)="switchTab(3)" [ngClass]="{'bg-orange-100': currentTab == 3}">
        <fa-icon [icon]="navFriendRequest"></fa-icon>
      </div>
      <div class="h-16 mt-auto bg-white cursor-pointer select-none hover:bg-orange-200 flex justify-center items-center"
        (click)="logout()">
        <fa-icon class="mr-2" [icon]="navLogout"></fa-icon>
        Logout
      </div>
    </div>
  </div>
  <div class="flex min-h-screen w-[20%] bg-white">
    @if (currentSubColTab == 1) {
    <app-sub-friends-col class="w-full"></app-sub-friends-col>
    }
    @if (currentSubColTab == 2) {
    <app-sub-conversations-col class="w-full"></app-sub-conversations-col>
    }
    @if (currentSubColTab == 3) {
    <app-sub-friend-requests-col class="w-full"></app-sub-friend-requests-col>
    }
  </div>
  <div class="flex min-h-screen w-[73%]">
    @if (currentMainTab == 1) {
      <app-profile-main class="w-full"></app-profile-main>
    } 
    @if (currentMainTab == 2) {
      <app-conversation-main class="w-full"></app-conversation-main>
    } 
  </div>
</div>